@media screen and (max-width: 767px) {
    .parking,
    .tasty{
        flex-direction: column;
    }
    h4{
        margin-top: 35px;
    }
    .house,
    .arc{
        display: none;
    }
    iframe{
        width: 70%;
        height: 250px;
    }
    .text p{
        font-size: min(1.6vw, 16px);
    }
    h4{
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) {
    .tasty{
        flex-direction: row-reverse;
    }
    h4{
        font-size: 24px;
    }
    .text p{
        font-size: 16px;
    }
    .backtotop img{
        display: none;
    }
}
.pic-group{
    position: relative;
    max-width: 700px;
    max-height: 400px;
    margin: auto;
    margin-top: min(8.333333%, 120px);
}
.reservation{
    width: 90%;
    height: 100%;    
}
.house{
    position: absolute;
    top: -10%;
    right: -8%;
    width: 38.571428%;  
    border-radius: 130px;
}
.house img{
    width: 100%;
}
.horizontal{
    position: absolute;
    top: -5%;
    right: 0%;
    left: 0%;
    width: min(40vw, 400px);
    height: 2px;
}
.vertical{
    position: absolute;
    bottom: 0%;
    left: -3%;
    width: 2px;
    height: min(30vw, 300px);
}
.arc{
    position: absolute;
    top: -11.5%;
    right: -9%;
    width: min(5.5vw, 55px);
    height: min(5.5vw, 55px);
}
.form-title{
    text-align: center;
    margin-top: 75px;
    font-size: 24px;
    font-weight: 400;
}
.visit-form{
    display: flex;
    flex-direction: column;
    width: min(70vw, 700px);
    border-radius: 5px;
    margin: auto;
    padding: 0px 15px;
}
.visit-form label{
    margin: 45px 0px 15px;
    font-size: clamp(16px, 1.8vw, 18px);;
}
input[type="text"]{
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto+Sans+TC", "Montserrat";
    line-height: 35px;
    letter-spacing: 2px;
    padding-left: 10px;
}
.visit-form input{
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: rgba(144, 161, 131, 0.30);
}
button{
    color: #90A183;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #90A183;
    width: 125px;
    height: 45px;
    background-color: #F3F5F2 ;
    margin: auto;
    margin-top: 45px;    
}
button:hover{
    background-color: #90A183;
    color: #F3F5F2;
}
.wavy img{
    width: 100%;    
}
.parking,
.tasty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 10px;
}
h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 35px;
}
.text{
    padding: 0px 45px;
}
.text p{
    margin-top: 20px;
}
.tasty{
    padding-top: 0px;
}